/************ Variables ***************/
:root {
    --primary: #003300;
    --secondary: #ff0000;
    --text-color: #fafafa;
    --section-color: #f5f5f5;
    --grey-color: #333;
    --white-color: #fff;


    /*** Font and Typography ***/
	--ff-body: Georgia, "Times New Roman", Times, serif;
	--ff-header: Verdana, Arial, Helvetica, sans-serif;
	--fs-header: 4.5rem;
	--fs-header1: 2.5rem;
	--fs-header2: 1.6rem;
	--fs-header3: 1.4rem;
	--fs-header4: 1.2rem;
	--fs-lg-para: 1.1rem;
	--fs-md-para: 1rem;
	--fs-sm-para: .938rem;
	--fs-xs-para: .88rem;
	--fs-xxs-para: .75rem;

	/*** z index ***/
	--z-index: 50;
	--xl-index: 99;
}





*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body {
    font-size: 1rem;
    line-height: 1.6;
    font-family: var(--ff-body);
    color: #333;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    width: 100%;
}

.navMenu {
    position: sticky;
    top: 0;
    height: 10vh;
    display: flex;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: var(--primary);
    z-index: 4;
}

.navbrand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5em;
}

.navLogo {
    width: 3em;
    height: 3em;
}

.navImage {
    width: 3em;
    border-radius: 50%;
    padding-right: .5em;
    padding-bottom: 2em;
}

.schoolMotto {
    display: none;
}

.schoolName {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    padding-top: 2em;
}

.schoolName:focus,
.navLink:focus {
    color: var(--secondary);
    opacity: .1;
}

.schoolName:hover,
.navLink:hover {
    color: var(--secondary);
}

.navList {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.navLink {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
}

.socialContact {
    display: none;
}

@media screen and (max-width:768px){
    .navMenu {
        position: relative;
        z-index: 3;
    }

    .schoolName {
        font-size: 1.2rem;
    }

    .navbrand {
        position: absolute;
        padding-bottom: 20px;
    }
    
    .navList {
        position: absolute;
        background:var(--primary);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        padding-top: 9em;
    }

    .navList.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all; 
    }

    .navItem {
        opacity: 0;
    }

    .navLink {
        font-weight: 600;
        color: var(--text-color);
        line-height: 1.6;   
    }

    .navLink:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .navLink:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .navLink:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }

    .navItem.fade{
        opacity: 1;
    }

    .hamburger-btn {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }

    .hamburger-btn_burger {
        width: 20px;
        height: 3px;
        background: var(--text-color);
        margin: 5px;
        transition: all .5s ease-in-out;
    }

    .hamburger-btn_burger::before,
    .hamburger-btn_burger::after {
        content: '';
        position: absolute;
        width:20px;
        height: 3px;
        background: var(--text-color);
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    .hamburger-btn_burger::before {
        transform: translateY(-7px);
    }

    .hamburger-btn_burger::after {
        transform: translateY(7px);
    }

    .hamburger-btn.open .hamburger-btn_burger {
        transform: translateX(-50px);
        background: transparent;
    }

    .hamburger-btn.open .hamburger-btn_burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .hamburger-btn.open .hamburger-btn_burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .socialContact {
        display: flex;
        margin: 1em auto;
    }

    .socialLink {
        background: var(--text-color);
        width: 40px;
        height: 40px;
        margin: 1em 0.625em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socialFB {
        font-size: 1.5rem;
        color: #4267b2;
        padding: 1em;
    }

    .socialTwitter {
        font-size: 1.5rem;
        color: #1da1f2;
        padding: 1em;
    }

    .socialInsta {
        font-size: 1.5rem;
        color: #000;
        padding: 1em;
    }
}

.hero {
    max-width: 100%;
    width: 100%;
    height: 90vh;
    background: linear-gradient(135deg, rgba(0,0,0,.9)0%, rgba(0,0,0,.6)100%), url(blakiston_admin.jpg) center no-repeat;
    background-size: cover;
}

.hero-message {
    width: 100%;
    max-width: 87em;
    color: var(--text-color);
    transform: translateY(20%);
    padding-left: .8em;
    padding-right:.8em;
    line-height: 1.4;
}

.hero-intro {
    font-size: 1.05rem;
}

.hero-main {
    margin-top: 1em;
    font-size: 2.2rem;
}

.hero-desc {
    margin-top: 1em;
    font-size: 1.05rem;
}

.btn-hero {
    display: inline-block;
    background: var(--secondary);
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
    padding: .75em 4em;
    margin: 2.5em 4em 0;
    border-radius: .3em;
    transition: background 650ms;
}

.btn-hero:hover {
    background: var(--text-color);
    color: var(--primary);
    border: .1em solid var(--primary);
}

.socialmedia {
    display: none;
}

@media screen and (min-width: 768px){
    .hero {
        max-width: 100%;
        width: 100%;
        position: relative;
    }

    .hero-message {
        max-width: 75em;
        text-align: center;
        padding-top: 5em;
    }

    .hero-main {
        font-size: 2.8rem;
        margin-top: .5em;
    }

    .hero-desc {
        font-size: 1.1rem;
    }

    .socialmedia {
        display: flex;
        position: absolute;
        right: .5em;
    }

    .socialLink {
        background: var(--text-color);
        width: 30px;
        height: 30px;
        margin: 1em 0.625em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socialFB {
        font-size: 1.2rem;
        color: #4267b2;
        padding: .5em;
    }

    .socialTwitter {
        font-size: 1.2rem;
        color: #1da1f2;
        padding: .5em;
    }

    .socialInsta {
        font-size: 1.2rem;
        color: #000;
        padding: .5em;
    }
}

/*School History*/
.content_wrapper {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    margin-top: .5em;
}

.left_box, .right_box {
    flex-basis: 100%;
    height: max-content;
}

.content {
    max-width: 28em;
    left: 3.5em;
    transform: translateX(5%);
}

.content-title {
    color: var(--primary);
    text-align: center;
    font-size: 3rem;
    opacity: .9;
    padding-top: .3em;
    padding-bottom: .3em;
}

.about-intro {
    margin-bottom: 1.5em;
}

.btn-history {
    display: inline-block;
    background-color: var(--primary);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 1em 5em;
    margin: 3em 4em 3em;
    border-radius: .3em;
}

.btn-history:hover {
    background: var(--text-color);
    color: #333;
    border: .1em solid var(--primary);
}

.first-head {
    max-width: 90%;
    width: 90%;
    margin-left: 2em;
    border-radius: 4px;
    z-index: 1;
    position: relative;
}

.founding_headmaster p {
    background: #a7a7a7;
    color: var(--text-color);
    font-size: .938rem;
    font-weight: 600;
    text-align: center;
    padding: 10px 3px;
    border-radius: 2px;
    width:75%;
    margin: -20px auto 0;
    z-index: 2;
    position: relative;
}

@media(min-width: 768px) {
    .content_wrapper {
        margin: 1em 1.5em;
    }

    .left_box, .right_box {
        flex-basis: 50%;
    }

    .content {
        max-width: 34em;
        left: 7.5em;
        transform: translateX(10%);
    }
    
    .btn-history {
        font-size: 1.1rem;
        padding: .5em 4em;
        margin: 2.5em 5.5em 0;
    }

    .first-head {
        max-width: 90%;
        width: 90%;
        margin-top: 3em;
    }

 
}

/* Notable Alumni */

.alumni {
    background: var(--section-color);
    margin-top: 2em;
    padding-bottom: 2.5em;
}

.content-tittle {
    color: var(--primary);
    text-align: center;
    font-size: 3rem;
    opacity: .9;
    padding-top: .3em;
    padding-bottom: .3em;
}

.alumni-list {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5em;
}

.alumni-card {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    margin-right: 1em;
    align-self: center;
}

.alumni-para h4 {
    margin-bottom: 1em;
}

@media screen and (min-width: 768px){
    #content {
        max-width: 72em;
        width: 72em;
        padding-right: 3em;
    }

    .notable_alumni{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2em;  
    }

    .alumni-list {
        flex-direction: column;
    }

    .alumni-para h4 {
        text-align: center;
        margin-top: 1em;
    }

}

/* Sports & Clubs */
.container {
    background: #fafafa;
    width: 98%;
    margin: 4% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    flex-basis: 50%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    cursor: pointer;
    transition: 1s;
}

.card:hover img {
    transform: scale(1.1);
}

.card span {
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #fafafa;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}
.card .right-side {
    right: unset;
    left: 0;
    border-left: 15px solid #fafafa;
    border-right: 15px solid transparent;
}



.container .card:nth-child(1){
    order: 1;
}
.container .card:nth-child(2){
    order: 2;
}
.container .card:nth-child(3){
    order: 5;
}
.container .card:nth-child(4){
    order: 6;
}
.container .card:nth-child(5){
    order: 9;
}
.container .card:nth-child(6){
    order: 10;
}
.container .card:nth-child(7){
    order: 3;
}
.container .card:nth-child(8){
    order: 4;
}
.container .card:nth-child(9){
    order: 7;
}
.container .card:nth-child(10){
    order: 8;
}
.container .card:nth-child(11){
    order: 11;
}
.container .card:nth-child(12){
    order: 12;
}

@media screen and (min-width:48em){
    .card {
        flex-basis: 16.666%;
    }

    .container .card:nth-child(1){
        order: 1;
    }
    .container .card:nth-child(2){
        order: 2;
    }
    .container .card:nth-child(3){
        order: 3;
    }
    .container .card:nth-child(4){
        order: 4;
    }
    .container .card:nth-child(5){
        order: 5;
    }
    .container .card:nth-child(6){
        order: 6;
    }
    .container .card:nth-child(7){
        order: 7;
    }
    .container .card:nth-child(8){
        order: 8;
    }
    .container .card:nth-child(9){
        order: 9;
    }
    .container .card:nth-child(10){
        order: 10;
    }
    .container .card:nth-child(11){
        order: 11;
    }
    .container .card:nth-child(12){
        order: 12;
    }

}

/* Gallery */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1.5fr 4fr 4fr 3fr 2fr;
    grid-template-areas: 
    "main"
    "sidebar"
    "content1"
    "content2"
    "content3"
    "footer";
    gap: .2em;
}

main{
    background: red;
    grid-area: main;
}

.content1 {
    background: orange;
    grid-area: content1;
}

.content2 {
    background: brown;
    grid-area: content2;
}

.content3 {
    background: chartreuse;
    grid-area: content3;
}

.sidebar {
    background: crimson;
    grid-area: sidebar;
}

.grid-footer {
    background: cyan;
    grid-area: footer;
}

@media screen and (min-width:48em){
    .grid-container {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 4fr 3fr 2fr;
        grid-template-areas: 
        "main main main sidebar"
        "content1 content2 content3 sidebar"
        "content1 content2 content3 sidebar"
        "footer footer footer sidebar";
    }
}
/* Testimonial */

.testimonialBX {
    padding: 1.3em;
}

.testimonial-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0,0,0, .25);
    padding: 1em;
    margin-bottom: 1em;
    margin-left: 2.8em;
    border-radius: .4em;
}

.testimonial-card {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border:2px solid var(--primary);
    margin-left: -5em;

}

.testimonial-quote {
    padding: .25em;
    border: 1px solid #003300;
    border-radius: 50%;
    background: #fafafa;
    color: #003300;
    margin-left: -.6em;
    z-index: 2;
}

.testimonial-para {
    margin-left: 1em;
    margin-bottom: 1.8em;
    font-size: .938rem;
}

.testimonial-cite {
    font-size: .938rem;
    font-weight: bold;
}

@media screen and (min-width:48em){
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap:1em;
    }

    .testimonial-list {
        flex-direction: column;
        margin-top: 5em;
    }

    .testimonial-card {
        margin-top: -5em;
        margin-left: .8em;
    }

    .testimonial-quote {
        margin-top: -.6em;
        margin-left: .3em;
    }

    .testimonial-para {
        margin-top: 1em;
        font-size: 1em;
    }
}

/* Social */

.social {
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 0 1em;
   }
  
   .social * {
    margin-right: .6em;
   }
  
   .social p {
    padding-left: 3em;
    font-size: 1em;
    font-weight: 700;
   }
  
   .social a {
    width: 2.5em;
    height: 2.5em;
    margin: 0 5px;
    display: flex;
    box-shadow: 2px 2px 12px rgba(0,0,0, .15);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-left: .6em;
    font-size: 1.1rem;
  }
  
  .facebook {
    color: #4267b2;
  }
  
  .twitter {
    color: #1da1f2;
  }
  
  .instagram {
    color: #000;
  }
  
  @media screen and (min-width:48em){
    .social p {
        padding-left: 8em;
        font-size: 1.2em;
       }
}

/* Footer */
.footer-top {
    background: #eaeaea;
    padding: 2.2em 0;
  }
  
.footer_top {
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }

.footer-logo {
      width: 10em;
      height: 10em;
      border-radius: .2em;
      cursor: pointer;
  }


.list-header {
      font-size: .938rem;
      color: var(--primary);
  }

.footer-link, .contact-list {
    color: #333;
    font-size: 1rem;
}

.footer-link:hover {
    color: var(--secondary);
}

.contact-list {
    line-height: 1.6;
}
  
.fa-envelope, .fa-envelope-open, .fa-phone, .fa-fax {
    color: var(--primary);
}
  
/* Footer-bottom */
.footer {
    background: #eaeaea;
    color: #616161;
    font-size: 0.875em;
    padding: 20px 0;
  }
  
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footer li {
    margin-right: 1.8em;
    margin-bottom: .5em;
  }
  
  .footer div {
    font-size: 0.75em;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
  }
  
  .globe i {
    margin-right: .6;
  }

.globe {
    font-size: .875rem;
    color: var(--primary);
}
  
.footer-end {
    font-size: .875rem;
    color: var(--primary);
}

.footer-close {
    font-size: .875rem;
    color: #333;
}

.copyright {
    color: var(--primary);
    font-size: 1rem;
}

.copyright:hover, .footer-end:hover {
    color: var(--secondary);
}

@media screen and (min-width:48em){
   .footer_top {
    max-width: 70em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
   } 
   
}

/* About */

.big-title {
    font-weight: bold;
    margin: .5em auto .2em;
    text-align: center;
    font-size: 3rem;
}

.divider {
    background: linear-gradient(90deg, #003300 .83%, #E51323 100%);
    border: none;
    height: .125em;
    margin-bottom: .125em;
}

.main__article {
    width: 90%;
    margin-left: 2em;
    text-align: center;
}

.main__article--text {
    margin: 1em auto;
    text-align: left;
    font-weight: 300;
    line-height: 1.5;
}

.main__aside {
    margin-bottom: 2em;
}

.main__aside img {
    position: relative;
    max-width: 90%;
    width: 90%;
    height: 100%;
    border-radius: .2em;
    margin-left: 1.5em;
}

.main__aside p {
    background: var(--primary);
    color: var(--text-color);
    font-size: .75rem;
    font-weight: 600;
    text-align: center;
    padding: 10px 3px;
    border-radius: 2px;
    width:75%;
    margin: -20px auto 0;
    z-index: 2;
    position: relative;
}

@media screen and (min-width:48em){
    .main {
        display: flex;
        justify-content: center;
        max-width: 75em;
        height: 100%;
        margin: 3em auto;
    }
    
    .main__article {
        width: 50%;
        order: 0;
        text-align: center;
    }
        
    .aside {
        display: grid;
        grid-template-columns: repeat(1fr);
        width: 30%;
        position: relative;
        top: 7em;
        order: 1;
        margin-left: 4em;
        height: 80%;
    }
    
    .main__aside img {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    
    
    
}

/* Sports & Clubs */

.big-tittle {
    font-weight: bold;
    margin: .5em auto .2em;
    text-align: center;
    font-size: 2rem;
}

@media screen and (min-width:48em){    
    .main__artticle {
        width: 90%;
        text-align: center;
    } 
    
    .big-tittle {
        font-size: 3rem;
    }
    
}

/* BOSA */

.bosa_container {
    max-width: 90%;
    margin: 10px auto 0;
    overflow: hidden;
    padding: 0 2rem;
}
.bosa_name {
    font-size: 1.2rem;
    text-align: center;
}

.bosa-para p {
    margin-bottom: 1em;
    text-align: left;
  }

  .img-body img {
    border-radius: .3em;
}

@media screen and (min-width: 48em) {
	.bosa {
        margin-top: 10px;
    }
    
    .bosa .bosa_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
        height: 640px;
    }
        
    .bosa_list {
        width:80%;
        margin: 0 auto 10px;
    }
    
    .bosa-para {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: .9375em;
        line-height: 1.5;
        color: #333;
       margin: 10px 0 20px;
    }
    
    
    
    .img-body {
        padding-left: 100px;
    }   
}

/* Contact Us */

.contact__bg {
    position: relative;
    max-width: 100%;
    min-height: 220vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    /* padding: 6.25em; */
    padding: 3em 2em 2em;
}

.semi__circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    clip-path: circle(600px at right 700px);
}

@media screen and (max-width: 48em) {

	.contact__container {
		position: relative;
		display: flex;
		flex-direction: column;
        width: 100%;
	}

	.contact__bg .contact__container {
		position: relative;
		width: 100%;
		min-height: 34.38em;
		display: flex;
		z-index: var(--z-index);
		margin-top: -30em;
	}

	.contact__bg .contact__container .contact__form {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 26em;
		height: auto;
		top: 50%;
		background: var(--white-color);
		border-radius: 5px;
		box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
	}

	.contact__bg .contact__container .contact__form .form__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		padding-top: 1.88em;
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox.w50 {
		width: 80%;
	}
	
	.contact__bg .contact__container .contact__form .form__box .inputBox.w100 {
		width: 90%;
	}
	
	.contact__bg .contact__container .contact__form .form__box .inputBox input,
	.contact__bg .contact__container .contact__form .form__box .inputBox textarea {
		width: 100%!important;
		margin: 5px 0 5px 15px;
		font-size: var(--fs-md-para);
		font-weight: var(--fw-normal);
		color: var(--clr-primary);
		border: none;
		border-bottom: 1px solid #777;
		outline: none;
		resize: none;
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox textarea {
		min-height: 7.5em;
	}
	
	.contact__bg .contact__container .contact__form .form__box .inputBox span {
		position: absolute;
		left: 0;
		top: -1px;
		padding-left: 15px;
		font-weight: var(--fw-normal);
		color: var(--clr-primary);
		transition: .5s;
		pointer-events: none;
	}

	.contact__bg .contact__container .contact__form h2 {
		color: var(--clr-grey);
		font-size: var(--fs-header3);
		font-weight: var(--fw-dark);
		padding: 140px 5px 10px 15px;
	}
	
	.contact__bg .contact__container .contact__form .form__box .inputBox {
		position: relative;
		margin: 0 0 2.19em 0;
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox input:focus ~ span,
	.contact__bg .contact__container .contact__form .form__box .inputBox textarea:focus ~ span,
	.contact__bg .contact__container .contact__form .form__box .inputBox input:valid ~ span,
	.contact__bg .contact__container .contact__form .form__box .inputBox textarea:valid ~ span {
		transform: translateY(-24px);
		font-size: var(--fs-md-para);
		font-weight: var(--fw-normal);
		letter-spacing: 1px;
		color: var(--clr-purple);
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox input[type="submit"] {
		position: relative;
		cursor: pointer;
		background: linear-gradient(-270deg, #ff7800 8.6%, #ff5000 99.58%, #ff5000 100%);
		color: var(--clr-text);
		border: none;
		max-width: 15em;
		padding: .75em;
		font-weight: var(--fw-dark);
		border-radius: 1.25em;
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox input[type="submit"]:hover {
		opacity: .9;
	}
}

.contact__bg .contact__container .contact__info {
	position: absolute;
	width: 18em;
	height: calc(100% - 180px);
	background: var(--secondary);
	z-index: 1;
    /* padding: 3em; */    
	margin-left: 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
	border-radius: 5px;
}

.contact__bg .contact__container .contact__info  h2{
	color:  var(--text-color);
	font-size: var(--fs-header4);
	font-weight: var(--fw-dark);
}

.contact__bg .contact__container .contact__info  .contact__details{
	position: relative;
	margin: 1.25em 0;
}

.contact__bg .contact__container .contact__info  .contact__details li{
	position: relative;
	margin: 1.25em 0;
	display: flex;
	align-items: flex-start;
}

.contact__bg .contact__container .contact__info  .contact__details li span:nth-child(1) {
	width: 1.88em;
	min-width: 1.88em;
	color: var(--clr-text);
}

.contact__bg .contact__container .contact__info  .contact__details li span:nth-child(2) {
	color: var(--clr-text);
	margin-left: .625em;
	opacity: .7;
}

.contact__bg .contact__container .contact__info  .contact__details li:hover span:nth-child(2) {
	opacity: 1;
}

.contact__bg .contact__container .contact__info .contact__sociaal {
	position: relative;
	display: flex;
}

.contact__bg .contact__container .contact__info .contact__sociaal li {
	margin-right: .938em;
	padding-top: 1.2em;
}

.cp__link {
	background: var(--text-color);
	width: 1em;
	height: 1em;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cp__facebook {
	font-size: 1.5rem;
	color: #4267b2;
}

.cp__twitter {
	font-size: 1.5rem;
	color: #1da1f2;
}

.cp__instagram {
	font-size: 1.5rem;
	color: #000;
}

@media screen and (min-width: 48.06em) {	

	.contact__bg {
		min-height: 100vh;
	}

	.contact__bg .contact__container .contact__form {
		position: absolute;
		padding: 4.38em 3em;
		background: var(--clr-white);
		margin-left: 9.38em;
		padding-left: 12.5em;
		width: calc(100% - 220px);
		height: 88%;
		border-radius: 5px;
		box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
	}

	.contact__bg .contact__container {
		position: relative;
		min-width: 68.75em;
		min-height: 34.38em;
		display: flex;
		z-index: var(--z-index);
		margin-top: 5.5em;
	}

	.contact__bg .contact__container .contact__info {
		padding: 1.25em;
		justify-content: space-between;
		margin-left: .625em;
		margin-top: 1.5em;
	}

	.contact__bg .contact__container .contact__info {
		top: 2.5em;
	}

	.contact__bg .contact__container .contact__form .form__box {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 1.88em;
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox.w50 {
		width: 45%;
	}
	
	.contact__bg .contact__container .contact__form .form__box .inputBox.w100 {
		width: 100%;
	}
	
	.contact__bg .contact__container .contact__form .form__box .inputBox input,
	.contact__bg .contact__container .contact__form .form__box .inputBox textarea {
		width: 100%!important;
		padding: 5px 0;
		font-size: var(--fs-md-para);
		font-weight: var(--fw-normal);
		color: var(--clr-primary);
		border: none;
		border-bottom: 1px solid #777;
		outline: none;
		resize: none;
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox textarea {
		min-height: 7.5em;
	}
	
	.contact__bg .contact__container .contact__form .form__box .inputBox span {
		position: absolute;
		left: 0;
		padding: 5px 0;
		font-weight: var(--fw-normal);
		color: var(--clr-primary);
		transition: .5s;
		pointer-events: none;
	}

	.contact__bg .contact__container .contact__form h2 {
		color: var(--clr-grey);
		font-size: var(--fs-header3);
		font-weight: var(--fw-dark);
	}
	
	.contact__bg .contact__container .contact__form .form__box .inputBox {
		position: relative;
		margin: 0 0 2.19em 0;
	}
	

	.contact__bg .contact__container .contact__form .form__box .inputBox input:focus ~ span,
	.contact__bg .contact__container .contact__form .form__box .inputBox textarea:focus ~ span,
	.contact__bg .contact__container .contact__form .form__box .inputBox input:valid ~ span,
	.contact__bg .contact__container .contact__form .form__box .inputBox textarea:valid ~ span {
		transform: translateY(-30px);
		font-size: var(--fs-md-para);
		font-weight: var(--fw-normal);
		letter-spacing: 1px;
		color: var(--clr-purple);
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox input[type="submit"] {
		position: relative;
		cursor: pointer;
		background: linear-gradient(-270deg, #ff7800 8.6%, #ff5000 99.58%, #ff5000 100%);
		color: var(--clr-text);
		border: none;
		max-width: 15em;
		padding: .75em;
		font-weight: var(--fw-dark);
		border-radius: 1.25em;
	}

	.contact__bg .contact__container .contact__form .form__box .inputBox input[type="submit"]:hover {
		opacity: .9;
	}
}
